<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title> Teknisa </title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
	<script src="http://code.jquery.com/jquery.min.js"> </script>
	<script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
</head>
<body>
	<div data-role="page" id="admin">
		<div data-role="header">
			<h1>Administrador Home</h1>
		</div>	
		
		<div data-role="content">		
			<p>Tela de admin</p>		
		</div>
		
		<div data-role="footer" data-position="fixed">
			<h1>Teknisa</h1>
		</div>		
	</div>
</body>
</html>
