<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title> Teknisa </title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
	<script src="http://code.jquery.com/jquery.min.js"> </script>
	<script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
</head>
<body>
	<div data-role="page" id="erro-redirecionamento">
		<div data-role="header">
			<h1>Erro de Redirecionamento</h1>
		</div>	
		
		<div data-role="content">		
			<p>Houve um erro de redirecionamento, por favor, clique no botão login para se logar novamente.</p>
			<a href="/teknisa/TESTEFRONTEND/TESTE_FINAL/view/login_views/login.html" data-role="button" data-rel="dialog">Login</a>
		</div>
		
		<div data-role="footer" data-position="fixed">
			<h1>Teknisa</h1>
		</div>		
	</div>
</body>
</html>
